html {
  box-sizing: border-box;
}

body {
  background: #ddd;
}

.navbar-brand {
  font-family: 'Pacifico', sans-serif;  
  color: #9d9d9d !important;
  font-size: 1.9rem !important;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #fff !important;
}
